@page "/"
@inject HttpClient Http
@using Models
@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<h3>Witamy w systemie fakturowania!</h3>


@code{
    const string _URL = "https://localhost:5001/api/";

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();

        if (!(await _localStorage.ContainKeyAsync("itemsPerPage")))
        {
            _localStorage.SetItemAsync("itemsPerPage", "10");
        }

    }

}
