@page "/"
@inject HttpClient Http
@using Models

<h3>Witamy w systemie fakturowania!</h3>

<button type="button" @onclick="Summary">SUMMARY</button>


@code{
    const string _URL = "https://localhost:5001/api/";

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    async void GetPDF()
    {

    }

    async void Summary()
    {
        var temp = await Http.PostJsonAsync<Summary>(_URL + Controller.summaries, new InvoicesDate { Month = 1, Year = 2020 }); 
    }
}
