<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Witaj, @context.User.Identity.Name!</a>
        <a href="logout">Wyloguj</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Register">Rejestracja</a>
        <a href="/Login">Zaloguj</a>
    </NotAuthorized>
</AuthorizeView>
