<AuthorizeView>
    <Authorized>
        Witaj, @context.User.Identity.Name!
        <a href="logout">Wyloguj</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Register">Rejestracja</a>
        <a href="/Login">Zaloguj</a>
    </NotAuthorized>
</AuthorizeView>
