@using BlazorStrap
@inject IBootstrapCSS BootstrapCSS
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Projekt</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </li>
        <AuthorizeView>
            <li class="nav-item px-3">
                <BSDropdown>
                    <BSDropdownToggle style="width: 218px" Color="Color.Success">Nowa faktura...</BSDropdownToggle>
                    <BSDropdownMenu style="background-color:white">
                        <BSDropdownItem style="color: #212529;" Href="newinvoicesell">sprzedaży</BSDropdownItem>
                        <BSDropdownItem style="color: #212529;" Href="newinvoicebuy">zakupu</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdown>
            </li>
            <li class="nav-item px-3">
                <BSDropdown>
                    <BSDropdownToggle style="width: 218px" Color="Color.Primary">Lista faktur...</BSDropdownToggle>
                    <BSDropdownMenu style="background-color:white">
                        <BSDropdownItem style="color: #212529;" Href="invoicesselllist">sprzedaży</BSDropdownItem>
                        <BSDropdownItem style="color: #212529;" Href="invoicesbuylist">zakupu</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdown>
            </li>
            <li class="nav-item px-3">
                <BSDropdown>
                    <BSDropdownToggle style="width: 218px" Color="Color.Primary">Kontakty...</BSDropdownToggle>
                    <BSDropdownMenu style="background-color:white">
                        <BSDropdownItem style="color: #212529;" Href="clients">klienci</BSDropdownItem>
                        <BSDropdownItem style="color: #212529;" Href="sellers">sprzedawcy</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdown>
            </li>
            <li class="nav-item px-3">
                <button class="btn btn-primary" style="width: 218px" @onclick="ToSummaries">Zestawienia</button>
            </li>
            <li class="nav-item px-3">
                <button class="btn btn-primary" style="width: 218px" @onclick="ToProducts">Produkty</button>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    private bool IsOpenNewInvoice { get; set; }
    private bool IsOpenInvoicesList { get; set; }


    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        await BootstrapCSS.SetBootstrapCSS("4.3.1");
        IsOpenNewInvoice = false;
        IsOpenInvoicesList = false;
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void OnClickNewInvoice()
    {
        if (IsOpenNewInvoice == false) IsOpenNewInvoice = true;
        else IsOpenNewInvoice = false;
        StateHasChanged();
    }

    void OnClickInvoicesList()
    {
        if (IsOpenInvoicesList == false) IsOpenInvoicesList = true;
        else IsOpenInvoicesList = false;
        StateHasChanged();
    }

    void ToSummaries()
    {
        NavigationManager.NavigateTo("/summaries");
    }

    void ToProducts()
    {
        NavigationManager.NavigateTo("/products");
    }
}
